# =========================================
# BASE DE DATOS
# =========================================

DB_USER=root
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=3306
DB_NAME=tienda_inventario_pro

# =========================================
# JWT
# =========================================
# Genera tu propia clave secreta, no reutilices
# esta de ejemplo. Por ejemplo, en una terminal
# de Python: secrets.token_hex(32)

SECRET_KEY=cambia_esto_por_una_clave_propia
ALGORITHM=HS256
